/*
Template 2033 Business
http://www.tooplate.com/view/2033-business
*/

body {
	margin: 0px;
	padding: 0px;
	color: #3a3430;
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	font-size: 13px;
	line-height:1.5em; 
	background-color: #e1e1e1;
}

a, a:link, a:visited {
	color: #2d607f;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1 { font-size: 40px; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #000; }
h2 { font-size: 28px; font-weight: normal; line-height: 28px; margin: 0 0 30px 0; padding: 0; color: #000; }
h3 { font-size: 21px; margin: 0 0 20px 0; padding: 0; padding: 0; color: #000; }
h4 { font-size: 18px; font-weight: normal; margin: 0 0 20px 0; padding: 0; color: #000; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #333; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r30 { margin-right: 30px; }
.margin_b20 { margin-bottom: 20px; }

.vertical_divider { background: url(images/tooplate_vertical_divider.jpg) repeat-y right;  }
.horizon_divider {  background: url(images/tooplate_hor_divider.jpg) repeat-x bottom; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	display: inline-block;
	padding: 8px;
	border: 1px solid #999;
	background: #ffffff;
	margin-bottom: 10px;
}

.image_wrapper2 {
	display: inline-block;
	padding: 4px;
	border: 1px solid #999;
	background: #ffffff;
	margin-bottom: 10px;
}

.fl_img {
	float: left;
	margin: 3px 30px 15px 0;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 15px;
}

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; }
cite span { color: #2d607f; }
em { color: #bf4300; }

.tooplate_list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.tooplate_list li {
	background: transparent url(images/tooplate_list.png) no-repeat scroll 0 0px;
        margin: 0 0 9px -37px;
        padding: 0 0 0 25px;
        line-height: 1em;
        list-style: none;
        padding: -1px;
}

.tooplate_list li a {
	text-decoration: none;
}

.tooplate_list li a:hover {
	text-decoration: underline;
}

.button a {
	clear: both;
	display: block;
	width: 100px;
	height: 27px;
	padding: 5px 0 0 22px;
	margin-top: 15px;
	background:  url(images/tooplate_button.png) no-repeat;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	background: url(images/tooplate_button_hover.png) no-repeat;
}

#tooplate_header_wrapper {
	width: 100%;
	background: #f3f3f3;
	height: 200px;
}

#tooplate_header {
	width: 990px;
	height: 200px;
	padding: 0;
	margin: 0 auto;
	background: url(images/tooplate_header.jpg) no-repeat;
}

#tooplate_header  #site_title {
	float: left;
	width: 400px;
	padding: 35px 0 0 40px;
}

#tooplate_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#tooplate_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 38px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

#tooplate_header  #site_title h1 a span {
	display: block;
	margin-top: 5px;
	margin-left: 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#header_phone_no {
	float: right;
	padding-right: 40px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding-top: 60px;
}

#header_phone_no span {
	font-size: 30px;
	color: #ef7716;
}

/* menu */

#tooplate_menu {
	clear: both;
	width: 940px;
	height: 90px;
	padding: 3px 25px;
	background: url(images/tooplate_menu.png) no-repeat;
}

#tooplate_menu #home_menu a {
	float: left;
	display: block;
	width: 46px;
	height: 46px;
	margin-right: 40px;
	background: url(images/tooplate_home.png) no-repeat;
}

#tooplate_menu #home_menu a:hover {
	background: url(images/tooplate_home_hover.png) no-repeat;
}

#tooplate_menu ul {
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#tooplate_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 102px;
	height: 27px;
	padding: 5px 0 0 0;
	margin: 0 10px 0 0 ;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #fff;	
	font-weight: bold;
	outline: none;
	border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul li .current {
	color: #fec823;
}

/* end of menu */

#tooplate_middle_wrapper1 {
	width: 100%;
	background: url(images/tooplate_banner.jpg) repeat-x;
	height: 280px;
}

#tooplate_middle_wrapper2 {
	width: 100%;
	height: 280px;
	background: url(images/tooplate_banner_wrapper.jpg) no-repeat top center;
}

#tooplate_middle {
	width: 900px;
	height: 220px;
	padding: 30px 45px;
	margin: 0 auto;
	color: #c5dcea;
	font-size: 20px;
	background: url(images/tooplate_banner_wrapper.jpg) center top no-repeat;
}

#tooplate_middle h1 {
	color: #fff;
	font-size: 50px;
	letter-spacing: 3px;
	text-shadow: 1px 1px 1px #555;
	font-weight: normal;
	padding: 50px 0 0 0;
}

#tooplate_middle h1 span {
	font-size: 30px;
	color: #fec821;
	margin-left: 30px;
}

#tooplate_middle  p {
	line-height: 24px;
	margin-bottom: 20px;
}

#tooplate_middle a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#tooplate_middle a span {
	color: #fec821;
}

#tooplate_middle a:hover {
	color: #fec821;
}

/* main */

#tooplate_main {
	clear: both;
	width: 900px;
	padding: 45px;
	margin: 0 auto;
}

#tooplate_content {
	float: right;
	width: 600px;
}

.col_w270 {
	width: 270px;
}

.col_w250 {
	width: 250px;
}

.col_w190 {
	width: 190px;
	padding-right: 40px;
}

.services_section {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.services_section .ss_left {
	float: left;
	width: 80px;
}

.services_section .ss_left img {
	width: 80px;
	height: 80px;
}

.services_section .ss_right {
	float: right;
	width: 500px;
}

.price {
	color: #000;
	font-size: 16px;
}

.price span {
	font-size: 20px;
	color: #C00;
}

#tooplate_sidebar {
	float: left;
	width: 240px;
}

#contact_form {
	float: left;
	width: 400px; 
	padding: 0px;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
	/*border:1px solid #e2d1be;
	padding: 20px 20px 10px 20px; */
}

#contact_form form .input_field {
	width: 300px;
	padding: 5px;
	background: #d1d1d1;
	border: 1px solid #b7aeae;
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label {
	display: block;
	width: 100px;
	font-size: 14px;	
	margin-right: 10px;
}

#contact_form form textarea {
	width: 388px;
	height: 200px;
	background: #d1d1d1;
	border: 1px solid #b7aeae;
	padding: 5px; 
	color: #333; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	margin-left: 50px;
	width: 122px;
	height: 32px;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 10px 0;
    padding: 5px 14px;
	background: url(images/tooplate_button.png) no-repeat;
}

#contact_form form .submit_btn:hover {
	background: url(images/tooplate_button_hover.png) no-repeat;
}

/* end of main */

/* footer */

#tooplate_footer_wrapper {
	width: 100%;
	border-top: 1px solid #fff;
	padding-top: 1px;
	background: #28556e; 
}

#tooplate_footer {
	width: 900px;
	margin: 0 auto;
	padding: 20px 35px;
	text-align: center;
	color: #8ab6d1;
}

#tooplate_footer a {
	color: #b4d8ee;
}

/* end of footer */